@import"//fonts.googleapis.com/css?family=Ubuntu";
@font-face {
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot?v=4.0.1');
    src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'BB_font';
    font-style:normal;
    font-weight:normal;
    src:url("//images.webhotel.microsdc.us/boltmobile/font/gotham_ultra_italic.eot") format("embedded-opentype"), url("//images.webhotel.microsdc.us/boltmobile/font/gotham_ultra_italic.ttf") format("truetype"), url("//images.webhotel.microsdc.us/boltmobile/font/gotham_ultra_italic.woff") format("woff"), url("//images.webhotel.microsdc.us/boltmobile/font/gotham_ultra_italic.svg") format("svg");
}
@media only screen and (max-width:480px) {
    @font-face {
        font-family:'BB_font';
        font-style:normal;
        font-weight:normal;
        src:url("//images.webhotel.microsdc.us/boltmobile/font/gotham_ultra_italic.svg") format("svg");
    }
}
[data-title="CHOOSE ONE"] .modifier-about-link, [data-title="ADD A BOLT OF CHEESE"] .modifier-about-link, [data-title="ADD A BOLT OF BACON"] .modifier-about-link, [data-title="ADD A BOLT OF RELISH"] .modifier-about-link{
	display:none;
}
.res-invalid-field {
	background-color: white !important;
	border: 3px solid red !important;
}

.ui-myres-sbsc-customization-step-container.selected .ui-myres-sbsc-customization-step-buttons-container {
    text-align:right;
}
.js .message {
    display:block!important;
}
.voucher-discount {
    display:none;
}
td.form-item.saveCard-input {
    vertical-align:middle;
}
.receiveEmailAlertsAndSpecialOffersChk-input {
    display:none!important;
}
.review-and-checkout-page-b {
    width:90%!important;
    margin:0 auto;
}
.form-panel .form-row .form-item:first-child {
    margin-bottom:0!important;
    padding:0 5px;
}
.form-panel .form-row .form-item:last-child {
    margin-bottom:15px;
}
.expirationDateMonth-input .ui-res-input-select {
    width:48%!important;
}
table.ui-res-create-account-input-table.receive-email-wine-club-table {
    margin-top:15px;
}
[data-title="CHOOSE ONE"] .modifier-about-link, [data-title="ADD A BOLT OF CHEESE"] .modifier-about-link, [data-title="ADD A BOLT OF BACON"] .modifier-about-link, [data-title="ADD A BOLT OF RELISH"] .modifier-about-link {
    display:none;
}
.sbsc-selected-modifiers-list {
    display:none;
}
.col-order-name, .ui-myres-sbsc-view-your-order-btn-container .view-your-order, .ui-myres-sbsc-add-to-cart-view-your-order-btn-container .ui-myres-sbsc-add-to-cart-view-your-order-btn {
    display:none;
}
div.past-orders-list ul li {
    width:50%!important;
}
.past-orders-list-header li {
    font-weight:bold;
}
.ui-dialog {
    width:100%!important;
    left:0!important;
    height:100%!important;
    min-height:1000px!important;
    top:0!important;
    margin-top:0!important;
    border-radius:4px!important;
    background-color:#FFF!important;
}
.modifier-about-link {
    vertical-align:top!important;
}
.checkbox-radio-label {
    font-size:11px!important;
}
.regular-radio:checked+label:after {
    background-color:#c33!important;
}
.ui-res-dropdown-menu-list li:first-child {
    display:none;
}
.menu-list-item.ui-res-menu-list-display-cat-as-btns {
    background-color:transparent;
}
.btn-default {
    background-color:#363636;
    background-image:linear-gradient(to bottom, #444, #222);
    background-repeat:repeat-x;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-res-order-date-time-input-no-order-slots-modal {
    display:none!important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color:#222;
    color:#fff;
    border-color:#222;
}
.btn:hover, .btn:focus {
    background-position:0 -15px;
    color:#333;
    text-decoration:none;
    transition:background-position .1s linear 0s;
}
body.media {
    margin-top:0;
}
.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
    background-image:none!important;
}
#ui-datepicker-div {
    width:186px!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color:#555!important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color:#555!important;
}
.ui-state-disabled.ui-datepicker-other-month, .ui-widget-content .ui-state-disabled.ui-datepicker-other- month, .ui-widget-header .ui-state-disabled.ui-datepicker-other-month {
    background-color:#fff!important;
}
.ui-widget-header {
    background-color:#eae1ce;
    color:#555!important;
}
.ui-datepicker-calendar thead {
    background-color:#eae1ce;
    color:#555!important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background:none repeat scroll 0 0 #7a7a7a;
    color:#fff!important;
}
.joineclub-copy {
    margin-top:10px;
}
.joineclub-copy select {
    margin:5px auto;
}
.joineclub-copy input.button {
    margin-top:15px;
}
.joineclub-copy tr {
    display:block;
    margin:10px auto;
    width:100%;
}
.joineclub-copy tr td {
    display:inline-block;
    width:90%;
    text-align:left;
}
.ui-res-order-date-input-container, .ui-res-order-time-input-container {
    background-color:#fff;
    border-color:#fff;
    border-style:solid;
    border-width:3px 5px 3px 3px;
    height:46px;
    overflow:hidden;
}
.ui-myres-sbsc-product-descrip-container, .ui-myres-sbsc-customization-steps-container, .ui-myres-sbsc-selected-modifiers-list, .ui-myres-sbsc-item-total-container {
    width:90%;
    margin:0 auto;
}
.ui-myres-sbsc-product-descrip-container {
    border-top:none!important;
}
.step-by-step-customization-page-b .button {
    width:100%!important;
}
.search-location-result, .ui-res-locations-search-result, .search-locations-result-body-list, .ui-res-search-location-store-det-li, .ui-res-address-det-container, .ui-res-address-det-btns, .view-menu-btn, .change-date-time-btn, .choose-location-btn {
    width:100%;
}
.ui-res-contactus-form button {
    margin:10px!important;
}
.ui-res-contactus-form th, .ui-res-contactus-form td {
    padding:5px!important;
}
.category_title {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/280/h/70/html_menu_header.image");
    background-repeat:no-repeat;
    font-family:'BB_font', sans-serif!important;
    font-size:15px;
    font-weight:lighter;
    height:70px;
    padding-left:10px;
    padding-top:13px;
    text-shadow:3px 2px 1px #000;
    text-transform:uppercase;
}
.rightcol .category_title:first-child, .category_title:first-child {
    margin-top:10px;
}
.captions {
    font-size:12px;
    font-style:italic;
    line-height:15px;
    list-style:none outside none!important;
    width:87%;
}
.menu_subtitle {
    padding:0;
}
.list_title {
    display:inline-block;
    font-family:'BB_font', sans-serif!important;
    font-weight:lighter;
    margin-top:10px;
    width:89%;
}
.menu_desc {
    border-left:10px solid #cc2127;
    font-weight:bold;
    margin-top:5px;
    padding-left:30px;
}
.html-menu ul li {
    font-family:'Ubuntu', sans-serif;
    line-height:18px;
    list-style-type:disc;
}
.main_list li {
    border-left:10px solid #cc2127;
    list-style:none outside none!important;
    padding-left:10px;
}
.y_price {
    color:#ffde3f;
}
.about_ingredients {
    margin-top:25px;
}
.about_ingredients ul {
    list-style-position:inside!important;
}
.about_col ul li {
    color:#cc2127;
    font-size:12px;
    font-weight:bold;
}
.about_col ul li:first-child {
    padding-top:10px;
}
.ing_name {
    color:#fff;
    font-size:12px;
    font-style:italic;
    font-weight:normal;
}
.ingredient_title {
    background-color:#cc2127;
    font-family:'BB_font', sans-serif!important;
    font-size:15px;
    font-weight:lighter;
    margin-bottom:5px;
    padding:10px;
    text-align:center;
    text-shadow:2px 2px 1px #841f16;
    text-transform:uppercase;
}
.print_btn {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/34/white_btn.image?")!important;
    background-color:#fff!important;
    border:3px solid #bbb!important;
    border-radius:.5em!important;
    color:#c33!important;
    display:block;
    font-family:'BB_font', sans-serif!important;
    font-size:1em!important;
    margin:10px auto;
    padding:5px 30px;
    text-align:center;
    text-decoration:none!important;
    text-shadow:1px 2px #ccc;
    width:99%!important;
}
.print_btn:hover {
    background-color:#999!important;
    color:#c33!important;
}
.menu .home-buttons-wrap {
    margin-top:10px!important;
}
.menu-copy {
    margin:0 auto!important;
    width:90%;
}
.story-copy, .confirm-message {
    margin:10px auto!important;
    width:90%!important;
}
.our-story ul li {
    margin-left:40px!important;
}
.our-story ul li {
    line-height:1.2em;
}
.our-story ul {
    list-style-type:disc!important;
}
.our-story p {
    margin:10px 0!important;
}
.quote p:first-child {
    font-size:18px;
    font-weight:bold;
    line-height:23px;
    text-align:center;
}
.quote {
    float:left;
    padding:0 20px 10px 0;
    width:300px;
}
.quote_name {
    font-size:10px;
    font-style:italic;
}
.media_img {
    border:3px solid #404040;
    border-radius:.5em;
    float:left;
    height:70px;
    margin:0 10px 10px 0;
    width:70px;
}
.article {
    border-bottom:1px solid #404040;
    margin:0 auto;
    padding:15px;
    width:90%;
}
.media_article {
    height:100%;
    width:100%;
}
.media_article>a {
    font-weight:bold;
}
.media_date {
    color:#888;
    font-size:.70em;
    font-style:italic;
    font-weight:normal;
}
a.read_more_link {
    text-decoration:underline!important;
}
.media_article a:active, .media_article a:hover {
    text-decoration:underline!important;
    color:#c33!important;
}
.create-account.button, .info-text {
    margin:5px auto;
    width:90%!important;
}
div.ui-res-login-btn-container {
    padding:10px 0!important;
}
.checkbox-label-container {
    margin-top:15px;
}
.checkbox-label-container td {
    display:inline!important;
    font-size:10px;
    padding-left:0!important;
    vertical-align:top;
}
.receive-email-wine-club-table th, .wineclubMemberChk-input, .wineclubMemberNumber-input {
    display:none!important;
}
.create-account .ui-res-login-btn-container button {
    display:inline-block;
    margin:5px 0;
    width:90%!important;
}
.create-account .ui-res-login-btn-container {
    padding:0!important;
}
.ui-res-create-account-input-table-container.module {
    width:86%!important;
}
.ui-res-create-account-input-table, .ui-res-forgot-password-input-table, .ui-res-reset-password-input-table, .ui-res-edit-account-input-table {
    display:table!important;
}
table.ui-res-forgot-password-input-table td, table.ui-res-reset-password-input-table td, table.ui-res-login-input-table td, table.ui-res-edit-account-input-table td {
    width:90%!important;
    display:inline-block;
}
table.ui-res-create-account-input-table td {
    width:100%!important;
}
table.ui-res-login-input-table th, table.ui-res-forgot-password-input-table th, table.ui-res-reset-password-input-table th, table.ui-res-edit-account-input-table th {
    margin-left:20px;
}
.ui-res-contactus-form-mandatory-note {
    font-size:12px;
}
.ui-res-contactus-form-table.form-panel {
    margin:0 auto;
    width:86%;
    text-align:left;
}
.ui-res-contactus-form-table .form-row:last-child th.form-item {
    display:none;
}
.ui-res-msg-item-container.ui-res-info-msg-item-container {
    height:50px!important;
}
.ui-product-area-wrapper.contact-us {
    display:none!important;
}
.ui-res-error-msg-item-container ul li {
    padding:5px 0 30px 30px!important;
    line-height:14px!important
}
.ui-res-locations-header {
    width:70%;
    margin:10px auto;
}
.joineclub-title, .edit-account-header, .my-account-header, .menu-header, .pick-time-title, .bolt-menu-header, .checkout-header, .location-title, .terms-header, .privacy-header, .contact-us-header, .create-account-header, .media-header, .login-header, .story-header {
    margin-top:10px;
}
.jqm-header .btn {
    border-radius:0!important;
}
.home-login {
    font-family:'BB_font', sans-serif!important;
}
.jqm-header .span3.text-center>a {
    float:right;
}
.jqm-header .span3.text-center>a.home-login {
    display:block;
    float:none;
    font-family:'BB_font', sans-serif!important;
    margin-top:10px;
    text-align:right;
    width:100%;
    padding-bottom:6px;
}
.jqm-header .span3.text-center>a:first-child {
    margin-top:6px;
    margin-bottom:10px;
}
.jqm-header img {
    width:75%!important;
    margin-top:3px;
    margin-left:26px;
    margin-bottom:10px;
}
.view-details-btn-container {
    display:none!important;
}
.ui-myres-sbsc-add-to-cart-continue-ordering-btn-container, .ui-myres-sbsc-add-to-cart-view-your-order-btn-container {
    float:none!important;
}
.ui-myres-sbsc-add-to-cart-continue-ordering-btn-container {
    padding-bottom:6px!important;
}
.ui-myres-sbsc-add-to-cart-btns-container button {
    width:100%!important;
}
.ui-myres-sbsc-customization-step-buttons-container button {
    margin-bottom:7px!important;
}
.ui-res-dropdown-menu-container, .ui-res-dropdown-menu-container .ui-res-dropdown-menu-list span {
    font-size:13px!important;
}
.ui-res-dropdown-menu-selected-category-title-container td {
    font-size:18px!important;
}
.ui-myres-sbsc-view-your-order-btn-container, .ui-myres-sbsc-add-to-order-btn-container {
    border:0!important;
}
.sbsc-add-to-order-btn {
    display:none;
}
body.sitehome .wrapper {
    background:url("//images.webhotel.microsdc.us/boltmobile/get//bolt_img.image?") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:90%;
    min-height:568px;
}
.pre-order-information-title {
    padding-top:3px!important;
}
.pre-order-information-title>span {
    font-size:30px!important;
}
.pre-order-information-body {
    text-align:center;
}
.pre-order-information-message {
    text-align:left;
}
.pre-order-btn-continue, .pre-order-btn-cancel {
    display:inline-block;
    height:100%!important;
    padding:0!important;
    width:60%;
}
.pre-order-information-dialog {
    height:100%!important;
}
.review-and-checkout tbody {
    text-align:left;
    width:20%;
}
.ui-res-checkout-input-table div.note {
    padding:0!important;
    position:relative;
}
input[type="checkbox"], input[type="radio"] {
    position:relative;
    margin-right:4px;
}
[value="N"] {
    margin-left:10px!important;
}
.ui-res-order-status-container .container {
    padding:0!important;
}
.ui-res-order-basket-items-container.simple table td.item .remove a {
    background-color:rgba(0, 0, 0, 0)!important;
    background-image:none!important;
    border:0 none!important;
    box-shadow:none!important;
    color:#c33!important;
    display:inline!important;
    font-family:arial!important;
    font-size:12px!important;
    margin:0!important;
    padding:0!important;
    text-decoration:underline;
}
.location-links-container a:first-child {
    display:none!important;
}
.ui-res-order-basket-items-container.simple table td.item .remove a:first-child {
    display:none!important;
}
.review-and-checkout .item-config-edit-link {
    display:none!important;
}
.remove {
    padding-top:8px!important;
}
.ui-res-dropdown-menu-container {
    font-family:Arial, sans-serif!important;
}
.ui-res-dropdown-menu-selected-category-container {
    color:#cf312e;
    text-shadow:-2px 2px #ddd!important;
}
.ui-res-dropdown-menu-selected-category-container {
    font-size:1.6em!important;
}
input[type="text"], input[type="email"], input[type="password"], select {
    height:46px!important;
    line-height:46px!important;
    width:100%!important;
}
.securityCode-input input {
    width:20%!important;
}
.ui-res-menu-list-container .button {
    margin:0 7px 7px 0;
}
.ui-res-menu-list-container {
    width:90%;
}
div#nav-steps-container {
    margin:0!important;
}
.ui-res-order-basket-items-totals-container.simple tbody {
    width:86%;
}
.ui-res-order-basket-items-totals-container.simple table {
    float:none;
    width:100%;
}
body.review-and-checkout {
    background:transparent!important;
}
.review-and-checkout .container {
    width:100%!important;
}
.review-and-checkout .ui-res-order-status-container.module {
    text-align:left;
    width:100%;
    border-bottom:2px solid #555;
    height:116px!important;
}
.delivery-charge, .ui-res-order-basket-items-container.simple colgroup, .ui-res-order-basket-items-totals-container.simple colgroup {
    display:none!important;
}
.ui-res-order-basket-items-container.simple table .price:first-child {
    float:right;
}
.ui-res-my-account-main-section-container.module {
    width:90%;
}
.ui-res-order-basket-items-container.simple td {
    padding-top:10px;
}
.ui-res-order-basket-items-container.simple table th, .price {
    font-weight:bold!important;
    color:#FFF!important;
}
td.qty {
    background-image:none!important;
    display:block;
    height:46px;
    margin-top:10px;
    overflow:hidden;
    padding:0!important;
    width:37px!important;
}
td.qty select {
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:0 none;
    border-radius:0;
    display:block;
    font-size:13px;
    font-weight:bold;
    height:20px!important;
    line-height:20px!important;
    padding:0 1px;
    width:60px;
    color:#fff!important;
    box-shadow:none!important;
}
.ui-res-order-basket-items-container.simple table {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/98/h/211/simple_basket_bolt.image?notfound=notavailable");
    background-position:center center;
    background-repeat:no-repeat;
    font-family:sans-serif;
    height:0;
    min-height:250px;
}
.ui-res-order-basket-items-container.simple tr:first-child, .ui-res-order-basket-items-totals-container.simple tbody {
    border-color:#555;
    border-style:solid;
    border-width:2px 0;
    height:30px;
}
.menu-list-item {
    padding-top:10px!important;
    padding-bottom:0!important;
    background-color:#333;
}
.menu-list {
    font-family:arial;
}
.menu-list-item-go-to-category {
    float:none!important;
}
.ui-res-order-basket-items-container.simple tbody {
    width:86%;
}
.ui-res-menu-list-display-cat-as-btns.menu-list-item {
    float:left;
    width:50%;
}
div.past-orders-list ul li div.past-orders-add-to-order-btn-disabled, div.favorites-list ul li div.favorites-add-to-order-btn-disabled {
    background:none repeat scroll 0 0 #808080;
    box-shadow:2px 2px #000;
}
div.past-orders-list ul.past-orders-list-header li, div.favorites-list ul.favorites-list-header li {
    background-color:#c33!important;
    border-radius:0!important;
    padding:5px 0;
}
.my-profile .module label {
    color:#FFF!important;
    font-weight:bold;
}
.module, .my-account-navigation-bar, .ui-res-my-account-navigation-container-parent, .my-profile tbody, .ui-res-msg-item-container, .ui-res-menu-list-container {
    display:table!important;
    margin:0 auto!important;
}
.ui-res-my-account-navigation-container-parent {
    padding:10px 0;
}
.my-account .ui-res-my-account-navigation-container ul li {
    border:0!important;
    color:white!important;
    background-color:tranparent!important;
    background-image:none!important;
    width:128px;
    text-align:center;
}
.my-account .ui-res-my-account-navigation-container ul li:hover {
    color:#c33!important;
}
.login .module {
    margin-bottom:0!important;
}
.login-form {
    display:table;
    margin:0 auto;
    padding-top:8px;
    width:100%;
}
.ui-res-login-input-table {
    display:table!important;
}
.menu .button {
    width:90%!important;
}
.ui-res-restricted-category-confirmation-btn-ok .button {
    margin:0 auto;
    display:block;
}
.menu-home-btn {
    margin-top:10px;
}
.ui-myres-menu-list-add-to-cart-view-product-required .menu-list-item-cancel, .ui-myres-menu-list-add-to-cart-view-product-required .menu-list-item-add-to-order {
    float:left!important;
    width:100%!important;
}
.ui-res-menu-parent-category-selected {
    display:none;
}
html, #wrap {
    background:#232a30!important;
}
div.ui-res-menu-dropdown-container.ui-res-menu-leaf-category-selected {
    display:block!important;
}
#wrap {
    height:auto!important;
}
.ui-res-dropdown-menu-container, .ui-res-dropdown-menu-selected-category-container, .ui-res-dropdown-menu-list {
    margin:0 auto!important;
    max-width:95%!important;
    padding-top:10px!important;
    width:95%!important;
}
.ui-res-dropdown-menu-list {
    padding-top:0!important;
}
.location-links-container .float-left {
    float:none!important;
}
.pre-order-information-title, .change-location-information-title, .ui-res-update-to-zero-simple-confirmation-title, .ui-res-restricted-category-confirmation-title, .ui-res-out-of-range-simple-confirmation-title, .ui-res-out-of-range-confirmation-title, .ui-res-update-to-zero-confirmation-title {
    background-color:#870b0b;
    border-bottom:3px solid #555;
    color:#fff;
    font-size:30px;
    font-style:italic;
    font-weight:bold;
    height:50px;
    padding-top:10px;
    text-align:center;
    text-shadow:2px 2px #000;
    width:100%;
}
.pre-order-btn-continue-span, .pre-order-btn-cancel-span {
    background-color:rgba(0, 0, 0, 0)!important;
    border:2px solid #555!important;
    box-shadow:none!important;
    font-family:'BB_font', sans-serif!important;
    font-size:.97em!important;
    font-style:normal!important;
    text-shadow:2px 2px 3px #000;
    color:white!important;
    margin-bottom:8px!important;
}
.pre-order-btn-continue-span, .pre-order-btn-cancel-span {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/36/btn_redsml.image");
}
.pre-order-btn-cancel-span {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/36/btn_green.image");
}
.menu-list-item.ui-myres-menu-list-add-to-cart-view-product-required-hidden:hover, .ui-myres-sbsc-customization-step-container.selected, .menu-list-item.ui-myres-menu-list-add-to-cart-view-product-required-shown {
    background:#2c2c2c!important;
}
#wrap {
    overflow:hidden;
    background:transparent!important;
}
#wrap>div {
    position:static!important;
}
.config-option-cont a:link, a.tool-tip-product-descrip-close-link:link {
    color:#c33!important;
}
.row-fluid.jqm-bolt-header .span2 {
    width:14.3646%!important;
    float:left!important;
}
.row-fluid.jqm-bolt-header .span3 {
    float:left!important;
    width:23.4043%!important;
}
.row-fluid.jqm-bolt-header .span6 {
    float:left!important;
    width:48.9362%!important;
}
.row-fluid.jqm-bolt-header .span8 {
    width:65.7459%!important;
    float:left!important;
}
.container-fluid {
    padding-left:0!important;
}
header.masthead, .jqm-header-container>ul {
    display:none;
}
.btn-block+.btn-block {
    margin-top:0!important;
}
.sitehome .span_12, .sitehome .flexslider, .sitehome .text-promo, .sitehome .promo-hero, .sitehome .header, .sitehome .footer {
    padding:0!important;
}
.my-panel-trigger {
    background:none repeat scroll 0 0 #000;
    border-radius:4px;
    cursor:pointer;
    display:inline-block;
    height:38px;
    left:13px;
    padding:5px 5px 5px 8px;
    position:relative;
    top:12px;
    width:40px;
}
.jqm-header-container ul li a {
    display:block;
}
div.ui-res-my-account-navigation-container ul li {
    background-color:transparent!important;
}
div.ui-res-my-account-navigation-container ul li.active {
    color:#c33!important;
}
.ui-res-dropdown-menu-container {
    box-shadow:none;
}
.ui-res-dropdown-menu-list {
    padding-bottom:0!important;
}
.ui-res-dropdown-menu-item-li {
    background-color:#FFF;
    border-top:1px solid #3f3f3f!important;
    box-shadow:none!important;
    color:#cf312e;
    background-image:none!important;
}
.ui-res-dropdown-menu-item:hover {
    background-color:#d9a227!important;
    color:#FFF!important;
    background-image:none!important;
}
.ui-res-dropdown-menu-item {
    font-weight:bold;
    text-align:center;
    font-size:1.3em;
    padding:5px 5px 5px 10px;
    position:relative;
}
.ui-res-dropdown-menu-selected-category-title-container .text-align-right {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/21/h/23/menu_dropdown.image");
    background-position:center center;
    background-repeat:no-repeat;
    color:rgba(0, 0, 0, 0);
    text-align:right;
    text-shadow:none;
    width:10%;
}
.ui-res-dropdown-menu-selected-category-container, .ui-res-dropdown-menu-item, .ui-res-dropdown-menu-selected-category-container:hover {
    background-color:#FFF!important;
    background-image:none!important;
    color:#cf312e!important;
    text-shadow:none!important;
    border:0!important;
}
.ui-res-menu-list-display-cat-as-btns .button.button-1.go-to-category-btn {
    border:3px solid #c33!important;
    border-radius:.5em!important;
    height:75px;
    width:100%!important;
}
.ui-res-order-date-input-container {
    margin-right:0!important;
}
.ui-res-order-date-container, .ui-res-order-time-container {
    display:block!important;
    padding:8px;
}
.ui-res-order-date-label-container, .ui-res-order-time-label-container {
    width:76px;
}
.locations-header-header {
    display:none;
}
.view-details-btn-container {
    display:none;
}
.ui-res-address-det-info {
    text-align:left!important;
}
.ui-res-locations-search-result-container {
    display:table;
    margin:0 auto;
    vertical-align:top;
}
.ui-res-lbl-img-icon-label {
    left:-44px;
    top:23px;
}
.ui-res-lbl-img-icon {
    box-shadow:none!important;
}
div.ui-res-login-btn-container button, .button {
    padding:5px 30px!important;
}
.button, input.button, button.button, div.past-orders-list ul li div.past-orders-add-to-order-btn, div.favorites-list ul li div.favorites-add-to-order-btn {
    background-image:url("//images.webhotel.microsdc.us/boltburger.desktop/get/w/1/h/150/red_btn.image?")!important;
    border:2px solid #555!important;
    box-shadow:.01em .01em #555!important;
    font-family:'BB_font', sans-serif!important;
    font-size:1em!important;
    font-weight:200;
    text-shadow:2px 2px 3px #000;
    text-transform:uppercase!important;
    border-radius:.5em;
    -webkit-border-radius:.5em;
    width:90%!important;
}
div.past-orders-list ul li div.past-orders-add-to-order-btn, div.favorites-list ul li div.favorites-add-to-order-btn {
    width:260px!important;
    margin-left:-130px;
    padding:5px 10px;
}
.button:hover, input.button:hover, button.button:hover, div.past-orders-list ul li div.past-orders-add-to-order-btn:hover, div.favorites-list ul li div.favorites-add-to-order-btn:hover {
    background-position:0 -75px;
    color:#fff!important;
}
button.button.next-btn, button.button.done-add-to-order-btn {
    background-image:url("//images.webhotel.microsdc.us/boltburger.desktop/get/w/1/h/68/green-btn.image?")!important;
}
button.button.next-btn:hover, button.button.done-add-to-order-btn:hover {
    background-position:0 -34px;
    background-color:#dbdd85!important;
}
a.start-new-order-btn {
    min-height:20px!important;
    display:block;
    margin:0 auto;
}
a, a:hover, a:active, a:focus, h2 {
    color:#FFF!important;
}
.module {
    background:transparent!important;
    padding:0!important;
    position:relative;
    z-index:3;
}
.masthead {
    overflow:visible;
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/115/header_gradient.image") repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
}
.ui-res-header-interior-navigation-container-parent, .ui-res-header-main-navigation-title-container {
    display:none!important;
}
select {
    color:#666;
}
.ui-res-locations-search-criteria .float-left {
    float:none;
}
.col {
    border-left-width:0!important;
    float:none;
    padding:0!important;
}
#my-panel-menu {
    display:none;
}
.nav-bar {
    display:none;
}
body {
    padding:0!important;
    background:url("//images.webhotel.microsdc.us/boltmobile/boltmobilev3/get//bolt_img_gray.image?") no-repeat scroll 0 0 #232a30;
    background-size:90%;
    color:#FFF!important;
    min-height:575px;
}
.block {
    display:block;
}
.wrapper {
    margin:0 auto!important;
}
.wrapper, #wrap, .home-page-a, .home-page-b, .home-page-c, .home-page-d, .home-page-e, .home-page-f, .jqm-header, .jqm-footer {
    width:100%!important;
    overflow-x:hidden;
}
.wrapper, .wrapper #wrap {
    max-width:100%!important;
}
.sidebar {
    background-color:red;
}
.maincontent {
    background-color:yellow;
}
#mypanel {
    display:none;
}
.ui-icon-panel-icon {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/73/h/55/bolt_nav_icon2.image") no-repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    border:0;
    height:47px;
    margin-left:10px;
    margin-top:5px;
    width:49px;
}
.ui-res-order-status-container {
    background-color:transparent;
    color:#FFF;
    margin:0 auto;
    padding:10px 0;
    position:relative;
    width:100% z-index:3;
    text-align:left;
}
#view-pick-time-container-popup-confirm {
    display:block!important;
}
.ui-res-locations-search-criteria div.float-left {
    padding-bottom:0!important;
}
.ui-link, .diff-font, h1, .sub-header-text {
    color:#FFF!important;
}
.ui-res-input-text {
    box-shadow:none;
}
div.border-1px {
    display:none;
}
.order-date-time select {
    box-shadow:none!important;
}
.order-date-time .module input[type="text"], .order-date-time .module input[type="email"], .order-date-time .module input[type="password"], .order-date-time .module select {
    background-color:rgba(0, 0, 0, 0)!important;
    text-align:center;
    width:260px!important;
}
.module input[type="text"], .module input[type="email"], .module input[type="password"], .module select {
    height:46px!important;
    line-height:46px!important;
    width:100%!important;
}
.sub-header-text {
    text-transform:uppercase;
    font-weight:bold;
    top:5px;
}
h1 {
    font-size:110%;
    margin:0 auto;
    padding-bottom:10px;
    position:relative;
    text-transform:uppercase;
    width:100%;
    white-space:nowrap;
}
.separator-h {
    height:3px;
    background-color:#3f3f3f;
    width:90%;
    margin:0 auto;
}
.module h2:first-child {
    border-bottom:0!important;
}
h1 {
    font-family:'BB_font', sans-serif!important;
}
.home-page-a {
    z-index:12!important;
}
.ui-btn-corner-all {
    border-radius:.2em!important;
}
.ui-mobile .ui-header {
    text-align:center;
}
.ui-content {
    padding:0!important;
}
.home-buttons-wrap {
    position:relative;
    margin-top:30px;
    width:100%;
}
.jqm-bolt-header {
    background-color:#373d42;
    overflow:hidden;
}
.jqm-bolt-cart-count {
    text-decoration:none;
    box-shadow:none!important;
    border:0!important;
    border-radius:0!important;
    font-size:20px;
}
.jqm-bolt-cart-count>*, .count {
    box-shadow:none!important;
    border:0!important;
    border-radius:0!important;
    font-size:20px;
}
.jqm-bolt-cart-count .ui-btn-text {
    position:relative;
    top:5px;
}
.ui-icon-bolt-cart-icon {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/35/h/27/cart_icon.image")!important;
    width:35px!important;
    height:27px!important;
    margin-left:-14px!important;
    box-shadow:none!important;
    border:0!important;
    border-radius:0!important;
}
.ui-icon-burger {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/18/h/18/burger_menu_18.image")!important;
    width:18px!important;
    height:18px!important;
    box-shadow:none!important;
    border-radius:0!important;
}
.ui-icon-bolt {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/18/h/18/burger_menu_18.image")!important;
    width:18px!important;
    height:18px!important;
    box-shadow:none!important;
    border-radius:0!important;
}
.ui-icon-locations {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/18/h/18/burger_menu_18.image")!important;
    width:18px!important;
    height:18px!important;
    box-shadow:none!important;
    border-radius:0!important;
}
.big-bolt-static {
    background:url("//images.webhotel.microsdc.us/boltmobile/get//bolt_img.image?notfound=notavailable") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height:100%;
    min-height:570px;
    left:0;
    position:absolute!important;
    width:150px;
    z-index:2;
    float:left;
}
.big-burger-static {
    background:url("//images.webhotel.microsdc.us/boltmobile/get/w/1005/h/568/burger_bckg.image") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size:cover;
    height:100%;
    min-height:570px;
    position:relative!important;
    width:100%;
    z-index:1;
    left:0;
    margin-left:0!important;
}
.big-grey-static {
    background:#232a30;
    height:100%;
    position:absolute;
    width:100%;
}
.pre-order-dine-in, .order-take-out, .yhomebtn {
    background-color:#d92a31;
    background-image:url("//images.webhotel.microsdc.us/boltburger.desktop/get/w/1/h/150/red_btn.image?");
    border:3px solid #c33;
    border-radius:10px;
    box-shadow:2px 2px #333;
    color:#FFF!important;
    display:block;
    font-family:'BB_font', sans-serif!important;
    font-size:1.2em!important;
    margin:10px auto;
    overflow:hidden;
    padding:16px 18px!important;
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow:2px 2px 3px #000;
    text-transform:uppercase;
    white-space:nowrap;
    width:57%!important;
    z-index:101;
}
.pre-order-dine-in:active, .order-take-out:active, .pre-order-dine-in:hover, .order-take-out:hover {
    background-position:0 -75px;
    background-color:#232a30;
    border:3px solid #c33;
}
.menu .rhomebtn.order-take-out {
    padding:5px 10px!important;
    width:100%!important;
    font-size:14px!important;
    border-radius:.5em!important;
}
.yhomebtn {
    background-color:#f9cf70;
    background-image:url("//images.webhotel.microsdc.us/boltburger.desktop/get/w/1/h/150/yellow-btn.image?");
    border:3px solid #c28e20!important;
}
.yhomebtn:hover {
    background-position:0 -75px;
}
.ui-myres-sbsc-view-your-order-btn-container .button, .ui-myres-sbsc-customization-step-buttons-container .previous-btn, .new-customer button {
    background-image:url("//images.webhotel.microsdc.us/boltburger.desktop/get/w/1/h/150/yellow-btn.image?")!important;
    background-position:0 -27px;
    background-color:#c93!important;
}
.ui-myres-sbsc-view-your-order-btn-container .button:hover, .ui-myres-sbsc-customization-step-buttons-container .previous-btn:hover, .new-customer button:hover {
    background-position:0 0;
    background-color:#ffc!important;
}
button.button.button-1.previous-btn {
    float:left;
    width:115px!important;
    padding:5px!important;
}
.button.button-1.next-btn {
    width:115px!important;
    padding:5px!important;
}
.center-wrapper {
    text-align:center;
    width:100%;
    position:relative;
    z-index:3;
}
.center-wrapper * {
    position:relative;
    z-index:3;
}
.center-wrapper.privacy-copy {
    text-align:left;
}
.privacy-copy ul li, .privacy-copy p {
    padding:10px 20px;
}
.sub-header-text {
    text-transform:uppercase;
    font-weight:bold;
    top:5px;
}
.ui-dialog-content {
    background-color:#FFF!important;
    border:3px solid #555;
    padding:0;
    border-radius:4px;
}
.pre-order-btn-continue-span, background-color:transparent!important;
background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/36/btn_redsml.image");
border:2px solid #555!important;
box-shadow:none!important;
font-family:'BB_font', sans-serif!important;
font-size:.9em!important;
font-style:normal!important;
text-shadow:2px 2px 2px #555;

}
.pre-order-btn-cancel-span {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/1/h/36/btn_green.image");
}
.pre-order-information-title, .ui-res-restricted-category-confirmation-title {
    background-image:url("//images.webhotel.microsdc.us/boltmobile/get/w/34/h/64/red_popup_txt.image")!important;
}
.pre-order-information-title, .change-location-information-title, .ui-res-update-to-zero-simple-confirmation-title, .ui-res-restricted-category-confirmation-title, .ui-res-out-of-range-simple-confirmation-title, .ui-res-out-of-range-confirmation-title, .ui-res-update-to-zero-confirmation-title {
    background-color:#870b0b;
    border-bottom:3px solid #555;
    color:#FFF;
    font-size:30px;
    font-style:italic;
    font-weight:bold;
    height:50px;
    padding-top:10px;
    text-align:center;
    text-shadow:2px 2px #000;
    width:100%;
}
.nav-order-step-bar {
    overflow:hidden;
    font-family:'BB_font', sans-serif!important;
    font-size:.9em;
    font-weight:200;
    height:36px;
    text-shadow:2px 2px 3px #000;
    width:100%;
    background:#ce2d29;
    background:linear-gradient(#ce2d29, #870a05);
}
.nav-order-step-bar a {
    text-decoration:none!important;
    outline:0;
    color:#fff!important;
    font-weight:normal!important;
    position:relative;
    z-index:2;
    font-family:'BB_font';
}
.nav-order-step-bar li {
    display:block;
    float:left;
    font-size:11px;
    line-height:36px;
    padding:0 10px 0 30px;
    background:#ce2d29;
    background:linear-gradient(#ce2d29, #870a05);
    position:relative;
    cursor:pointer;
    margin-left:0!important;
    width:23%!important;
}
.nav-order-step-bar li:first-child {
    padding-left:15px;
}
.nav-order-step-bar li:first-child:before {
    left:14px;
}
.nav-order-step-bar li:last-child {
    padding:0 0 0 20px!important;
    width:31%!important;
}
.nav-order-step-bar li.current-order-step, .nav-order-step-bar li:hover {
    background:#d4a12b;
    background:linear-gradient(#d4a12b, #a27614);
}
.nav-order-step-bar li.current-order-step:after, .nav-order-step-bar li:hover:after {
    background:#d4a12b;
    background:linear-gradient(135deg, #d4a12b, #a27614);
}
.nav-order-step-bar li:after {
    content:'';
    position:absolute;
    top:0;
    right:-18px;
    width:36px;
    height:36px;
    transform:scale(0.707) rotate(45deg);
    -ms-transform:scale(0.707) rotate(45deg);
    -webkit-transform:scale(0.707) rotate(45deg);
    z-index:1;
    background:#ce2d29;
    background:linear-gradient(135deg, #ce2d29, #870a05);
    box-shadow:2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius:0 5px 0 50px;
}
.nav-order-step-bar li:last-child:after {
    content:none;
}
.fa-shopping-cart {
    margin-top:2px;
    width:23px;
    height:30px;
}
.ui-res-search-locations-result-body-no-order-slots-modal {
    display:none;
}
@media screen and (min-width:0) and (max-width:979px) {
    .nav>ul>li {
        background-color:rgba(63, 63, 63, 0.95);
    }
}
@media only screen and (max-width:440px) {
    .ui-res-my-account-navigation-container-parent {
        padding:5% 10%;
    }
    div.past-orders-list ul li div.show-details-link, div.favorites-list ul li div.show-details-link {
        padding:0;
        width:100%;
    }
    div.past-orders-detail, div.favorites-detail {
        margin-left:4%;
        margin-top:4%;
        width:92%;
    }
    div.past-orders-no-result, div.favorites-no-result, div.past-orders-note, div.favorites-note {
        margin:1em 0 1em 1em;
    }
    .ui-res-menu-list-display-cat-as-btns.menu-list-item {
        width:100%;
    }
}
@media only screen and (max-width:518px) {
    .ui-res-search-location-store-det * {
        float:none;
        margin:0 auto;
        display:table;
    }
}
@media only screen and (max-width:460px) {
    .pre-order-information-title>span {
        font-size:20px!important;
    }
    .ui-myres-sbsc-atcpm-container-container-left, .ui-myres-sbsc-atcpm-container-container-right {
        float:none!important;
        width:100%!important;
    }
}
@media only screen and (min-width:585px) {
    body.sitehome {
        background:url("//images.webhotel.microsdc.us/boltmobile/get//burger_bckg2.image?") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    }
}
